/*********** GENERAL STYLE **********/
.light-gray { background-color: #eeeeee; }
textarea { 
	resize: none; 
	-webkit-appearance: none;
}
input { -webkit-appearance: none; }
input[type=checkbox] { -webkit-appearance: checkbox; }
/******SIDEBAR*******/
.site-navbar { background-color: #0f3a7f; }
.site-menubar-unfold .site-menu > .site-menu-item:first-child { border-top: 1px solid #e0e0e0; }
.site-menubar-unfold .site-menu > .site-menu-item > a { 
	line-height: 55px;  
	border-bottom: 1px solid #e0e0e0; 
}
.site-menubar-unfold .site-menu > .site-menu-item.active > a { border-bottom: 0px; }
.site-menubar-unfold .site-menu-icon { 
	font-size: 20px; 
	vertical-align: middle;
}
.site-menubar-unfold .site-menu > .site-menu-item > a .site-menu-title { font-size: 16px; }
.nav.nav-tabs { padding: 0 20px; }


/******HEADER********/
.navbar-brand a { color: #fff; text-decoration: none; }

#site-navbar-collapse .role { 
	display: block;
    font-size: 11px;
    text-align: right;
    margin-top: -5px;
}

#site-navbar-collapse .nav { margin-right: 5px; }
#site-navbar-collapse .dropdown-toggle { 
	padding-left: 20px; 
	padding-right: 25px;
	padding-bottom: 13px;
    padding-top: 13px;
}
#site-navbar-collapse .dropdown-toggle .icon.md-chevron-down {  
    position: absolute;
    right: 10px;
    top: 32px; 
}

/****** MODAL *******/

.modal-body.tables:after {
    clear: both;
    content: " ";
    display: table;
}

/****** BUTTONS *******/

.btn-primary { 
	background-color: #0f3a7f;
  	border-color: #0f3a7f;
}
.btn-primary.focus, .btn-primary:focus, .btn-primary:hover { 
	background-color: #154ca4;
  	border-color: #154ca4; 
}
.white-btn { 
	background-color: #fff; 
	border-color: #fff; 
	color: #0f3a7f; 
}
.grey-btn {
	border-color: #ccc;
	background-color: #ccc;
	color: #0f3a7f;
	margin-right: 16px;
}
.grey-btn.focus, .grey-btn:hover, .grey-btn:focus { 
	border-color: #e5e5e5;
	background-color: #e5e5e5;
	color: #0f3a7f;
} 
.white-btn.focus, .white-btn:hover, .white-btn:focus { 
	border-color: #ccc;
	background-color: #ccc;
	color: #0f3a7f;
}

.page { min-height: 100%; }

/*********REQUEST/LOGIN**********/

.page-register-v3 .panel { width: 500px; } 
.page-register-v3 .btn-primary { width: 200px; }
.page-login-v3::before, .page-register-v3::before { background: #0f3a7f linear-gradient(to bottom, #0f3a7f 0%, #0f3a7f 100%) repeat-x scroll center top / cover ;}

.page-login-v3 .alert, .page-register-v3 .alert  { margin-bottom: 0px; }
.page-register-v3 .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) { width: 100%; }
.page-register-v3 .btn-select { 
	border-width: 0px 0 1px 0; 
	padding-left: 0px; 
	border-radius: 0; 
	color: #9e9e9e; 
}
.page-register-v3 .pass-description .site-menu-icon { margin-right: 10px; }
.page-register-v3 .pass-description p:first-child {
    margin-top: 30px;
    margin-bottom: 27px;
}

.page-register-v3 form .bootstrap-select a { margin-left: 0; }
.page-forgot-password { background-color: transparent; }
.page-forgot-password::before {  
    background: #f3f4f5 linear-gradient(to bottom, #f3f4f5 0%, #f3f4f5 100%) repeat-x scroll center top / cover ;
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1; 
} 
.dropdown-menu > li > a { color: #9e9e9e; }

/*********MY ACCOUNT*********/

.form-section .panel-footer button { 
    width: 220px; 
    margin-top: 0px !important; 
}
.form-section .panel-footer .margin-top-40 { 0px !important; }
.form-section .panel-footer { 
	background-color: #F7F7F7; 
	border-top: none;
}
.form-section .panel-footer .footer-btns { 
    display: block; 
    text-align: center;
    padding: 5px 0px; 
}
.form-section .panel-body .form-control {
    width: 50%;   
    margin: 5px auto 0;
    display: inline-block;
}
.form-section .panel-body .form-control.help-block {
	margin-top: 0;
	border: 0;
}
.form-section .panel-body .form-group {
    margin-bottom: 15px;
}
.form-section .panel-body .form-group label {
    width: 25%;
    margin-top: 0px;
	font-size: 17px;
    vertical-align: top;
    display: inline-block;
}
.pass-description { padding-bottom: 20px; }
.form-section .panel-body .pass-description { 
    display: block; 
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;
}
.form-section .panel-body .pass-description i { font-size: 12px; }
.form-section .panel-body .tokenfield { height: 170px; }
.add-new-user .panel-body .form-group .bootstrap-select {
    width: 50% !important;
    margin: 5px auto 0;
    display: inline-block;   
}
.form-section .panel-body .form-group.upload-file {
    position: relative;
    margin-bottom: 30px;
}
.form-section .panel-body .form-group .dropify-wrapper {
    width: 50%;
    display: inline-block;
    margin: 5px auto 0;
    border-radius: 4px;
    border-width: 1px; 
}
.form-section .panel-body .form-group .recommended-size { 
    display: block;
    padding-left: 25%;
    text-align: center;
    width: 75%;
}
.new-topic .form-group img {
    display: block;
    margin: 0 auto;
    width: 50%;
}
.new-topic .panel-body .form-group label { 
    top: 27px;
    line-height: 20px;
}
.new-topic .panel-body .form-group p {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    width: 50%;
    height: auto;
    display: inline-block;
    margin: 0px auto 0;
}
.file-name .panel-body .form-group p {
    width: 50%;
    margin: 5px auto 0;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    display: inline-block;
}
.file-name .panel-body .form-group .bootstrap-select {
    width: 50% !important;
    margin: 5px auto 0;
    display: inline-block;
}
/*.site-menubar-unfold .show-gridmenu.site-gridmenu {
    visibility: visible;
    opacity: 1;
}
.show-gridmenu.site-gridmenu ul { 
    opacity: 1; 
    transform: translateY(-25%) rotateX(0deg);
    -webkit-transform: translateY(-25%) rotateX(0deg);
}*/
/*.site-menubar-open .site-gridmenu.show-gridmenu {
  width: 100% !important;
  visibility: visible;
  opacity: 1;
  background-color: rgba(33,33,33,1);
  transition: all 0.45s ease;
}*/
.section-border { 
    /*border: 1px solid #9E9E9E; */
    border-radius: 3px;
    margin: 30px !important;
    padding-top: 0px;
    margin-top: 0px !important;
}
.topic-editor .panel-body.section-border input { 
    width: 50%; 
    margin: 0 auto;
}
.topic-editor .panel-body.section-border textarea { 
    width: 50%; 
    margin: 0 auto;
}
.topic-editor .panel-body.section-border .dropify-wrapper { 
    width: 50%; 
    margin: 0 auto;
    border-width: 1px;
}
.topic-editor .panel-body.section-border label {
    position: relative;
    top: 35px;
    font-size: 21px;
}
.topic-editor .note-editor .note-editable { height: 170px !important; }

/*new topic copy css settings*/

.panel-body.section-border input { 
    width: 50%; 
    display: block; 
    margin: 0 auto; 
}
.grid-stack-item-content { text-align: left !important; }
.grid-stack-item .panel-actions {
    top: 15px;
    right: 5px;
}
.grid-stack-item .dropify-wrapper { 
    width: 50%; 
    border-width: 1px; 
    margin: 0 auto; 
}
.panel-body.section-border label { 
    position: relative;
    top: 30px;
}
.panel-body.section-border textarea { 
    width: 50%; 
    display: block; 
    margin: 0 auto; 
}


.show-gridmenu.site-gridmenu p {
    float: left;
    width: 100%;
    padding-left: 40px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}
.share-table .table > tbody > tr > td:first-child {
    vertical-align: middle;
    width: 60px;
    text-align: center;
    padding-left: 10px;
}
.share-table .footable-odd { background-color: #ffffff; }
.share-table .footable-sort-indicator { display: none !important; }
.share-table .table thead tr { background-color: #cccccc; }
.share-table .table span { font-size: 21px; }

/******tables********/

.tables .page-main { position: relative; }

.table a.avatar { 
	text-decoration: none; 
	border-radius: 50%;
	background-color: #e6e6e6;
}
.table a.avatar img { 
	color: transparent; 
	height: 40px;
}

.tables .site-action {
    left: 32px;
    position: absolute;
    top: 55px;
    height: 60px;
}

/*** Filters ***/

.filter-search .bootstrap-select {
    width: 100% !important;
}
.filter-search .reset-filter {
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.filter-search .panel-body { padding-top: 20px; }
.filter-search .panel-footer .grey-btn {
    margin-right: 5px;
    width: 48%;
}
.filter-search .panel-footer .btn-primary { 
    margin-top: 20px !important; 
    width: 48%;
}
.filter-search .footer-btns { 
    border-top: 1px solid #E0E0E0; 
    margin-top:20px;
}
.filter-group { padding: 0 30px 10px; }
.filter-group .dropdown-toggle { background-color: #eee; }
.filter-group input.form-control { background-color: #eee;  }
.filter-group select, .filter-group .bootstrap-select, .filter-group input {
	max-width: 100%;
	width: 100% !important;
	margin: 5px 0;
}
.page-media.tables .dataTable {
	width: 100% !important;
	margin-top: 0;
}

/*** Topic content page ***/
.page-sortable ul.sortable {
	padding: 0;
	list-style: none;
	min-height: 140px;	
}
.page-sortable li.new {
	margin: 10px;
	padding: 10px;
	border: 1px solid #333;
	min-height: 100px;
	background-color: #eef;
}
.page-sortable .sortable-item .item-body {
	border-width: 0;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	background-color: #fff;
	border-radius: 4px;
	padding: 30px;
	position: relative;
}
.page-sortable .sortable-item .item-body .form-group label { margin-top: 20px; }
.page-sortable .sortable-item .item-body.light-gray {
	background-color: #eee;
    padding-bottom: 10px;
}
.page-sortable .ui-sortable-placeholder {
	visibility: visible !important;
}
.page-sortable .ui-sortable-placeholder .item-body {
	background-color: #b3e6cc !important;
	opacity: 0.3;
}
.page-sortable .original-placeholder .item-body{
	background-color: #62a8ea !important;
	opacity: 0.3;
}
.page-sortable .ui-sortable-placeholder.not-available .item-body {
	background-color: #ff9999 !important;
}
.page-sortable .sortable-item .item-body > .close {
	color: black;
	display: block;
	font-size: 20px;
	margin: -25px;
	padding: 8px 10px;
}

.page-sortable .sortable-item .item-body > .drag-drop {
    color: black;
    cursor: pointer;
    display: block;
    font-size: 20px;
    margin: -21px auto;
    opacity: 0.2;
    padding: 8px 10px;
    text-align: center;
    width: 50%;
    transition: all 0.3s ease;
}

.page-sortable .sortable-item .item-body > .drag-drop:hover {
    color: #36459b;
    opacity: 1;
    transition: all 0.3s ease;
}

/*** Home page settings ***/
.home-page a:hover { text-decoration: none; }
.home-page .panel {
    box-shadow: none !important;
    border: 2px solid #E4E4E4;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.home-page .panel:hover { 
    background-color: #F3F3F3; 
    transition: all 0.3s ease;
}
.home-page .panel:hover .home-panel-icon { 
    color: #424242 !important; 
    transition: all 0.3s ease;
}
.home-page .home-panel-icon { 
    font-size: 56px; 
    text-align: center;
    display: block; 
    color: #838383;
    transition: all 0.3s ease;
}
.home-page .panel-title { 
    text-align: center; 
    padding-top: 0px;
    min-height: 60px;
	padding-bottom: 0;
}
/*** Input button settings ***/
.input-file {
  	display: inline-block;
  	width: 50%;
  	border: 1px solid #E0E0E0;
  	border-radius: 3px;
  	padding: 40px 0 20px;
}
.input-file .dropify-event {
  	visibility: hidden;
}
.input-file #add-computer-button {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%,-50%);
  	border-radius: 5px;
  	font-size: 18px;
	line-height: 44px;
	padding-left: 0px;
	text-align: center;
	width: 220px;
	cursor: pointer;  
}
.input-file .image-placeholder {
  max-width: 460px; 
  height: auto;
  margin: 0 auto;
}
.input-file .rounded {
    max-width: 180px;
}
.image-placeholder.rounded img {
	width: 180px;
	height: 180px;
}
.input-file .rounded img { border-radius: 50%; }
.input-file .image-placeholder img { width: 100%; }
.with-placeholder #add-computer-button {
  	position: relative;
  	top: 40px;
}
.btn-media-library {
	background-color: #f5f5f5;
	border: 0 none;
	color: #757575;
	display: block;
	font-size: 18px;
	margin: 20px auto;
	width: 220px;
}
/*** New topic media element ***/
.full-width .panel-body .form-control { width: 100%; }
.full-width .panel-body .form-group label {
    width: 100%;
  	display: block;
  	padding-left: 0px !important; 
}
.media-element {
  	color: #4D4D4D;
  	text-align: center;
  	transition: all 0.3s ease;
    margin-top: 45px;
    display: block;
}
.media-element:hover {
  	color: #858585;
  	text-decoration: none;
  	transition: all 0.3s ease;
}
.media-element > i {
  	display: block;
  	font-size: 34px;
}
.media-element > span { 
    display: block; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

.full-width .panel-actions {
    top: 20px;
    right: 10px;
}

.page-footer {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: medium none;
    margin-top: 0;
    padding: 0 30px 50px;
    position: relative;
}

@media screen and ( min-width: 1200px ){
  	.site-menubar-unfold .show-gridmenu.site-gridmenu {
	    visibility: visible;
	    opacity: 1;
	    overflow-y: scroll;
	}
	.show-gridmenu.site-gridmenu ul { 
	    opacity: 1; 
	    transform: translateY(-25%) rotateX(0deg);
	    -webkit-transform: translateY(-25%) rotateX(0deg);
	}
}
@media screen and ( max-width: 1279px ){
  	.input-file .image-placeholder {
	    width: 100%;
	    height: 100%;
	    padding: 15px;
	}

}
@media screen and ( max-width: 1200px ){ 
    .show-gridmenu.site-gridmenu p {
        float: none;
        text-align: center;
        padding-left: 0;
    }
    .btn-media-library {
        width: 100%;
    }
}

@media screen and ( min-width: 1025px ){
  	.form-section .panel-body .form-group label { padding-left: 10%; }
}
@media screen and ( min-width: 768px ) and ( max-width: 1199px ){
  	.site-gridmenu-active .site-gridmenu {
	    visibility: visible !important;
	    opacity: 1 !important;
	    -webkit-transition: all .3s ease;
	    -o-transition: all .3s ease;
    	transition: all .3s ease;
	}
  	.site-menubar-fold .site-gridmenu { 
    	visibility: visible;
    	overflow-y: scroll;
    	opacity: 1 !important;
	}
 	.site-menubar-fold .site-gridmenu ul { 
	    opacity: 1 !important;
	    transform: translateY(0%) rotateX(0deg);
	    -webkit-transform: translateY(0%) rotateX(0deg);
	}
	.show-gridmenu.site-gridmenu ul p { padding-left: 10px; }
}
@media screen and ( max-width: 767px ) {
	/* Grid menu settings */
	.site-menubar-open .site-gridmenu.show-gridmenu {
	  	width: 100% !important;
	  	visibility: visible !important;
	  	opacity: 1 !important;
	  	background-color: rgba(33,33,33,1) !important;
	  	transition: all 0.45s ease !important;
	  	overflow-y: scroll;
	}
	.show-gridmenu.site-gridmenu ul { 
	    opacity: 1; 
	    transform: translateY(-25%) rotateX(0deg);
	    -webkit-transform: translateY(-25%) rotateX(0deg);
	}

	.page-register-v3 .panel { width: auto; } 
	.page-register-v3 .btn-primary { width: 150px; }
	.form-section .panel-body .form-control { width: 100%; }
    .form-section .panel-body .form-group label { 
    	top: 0px; 
    	line-height: 22px;
        width: 100%;
    }
    .form-section .panel-body .form-group .recommended-size { 
    	padding-left: 0;
    	width: 100%;
    }
    .form-section .panel-body .pass-description { width: 100%; }
    .form-section .panel-footer .footer-btns button:last-child { margin-top: 20px !important; } 
    .new-topic .panel-body .form-group p { width: 100%; }
    .file-name .panel-body .form-group p { width: 100%; }
    .file-name .panel-body .form-group .bootstrap-select { width: 100% !important; }
    .form-section .panel-body .form-group .dropify-wrapper { width: 100%; }
    .add-new-user .panel-body .form-group .bootstrap-select { width: 100% !important; }
    .user-page .table {
        margin-top: 40px;
        display: block !important;
        overflow-y: auto;
    }
    .user-page.tables .table-action { top: 70px; }
    .user-page .input-sm { width: 200px !important; }

    .form-section .panel-body .form-group.upload-file {
        position: inherit;
        margin-bottom: 10px;
    }

    .upload-file .input-file { width: 100%; }
  	.upload-file .input-file #add-computer-button { width: 220px; }
  	.input-file .image-placeholder {
	  	width: 100%;
	  	height: 100%;
	  	padding: 15px;
	}
    .recommended-size { 
        position: inherit !important; 
        left: 0 !important;
        bottom: 0 !important;
    }

}
@media screen and ( min-width: 550px ) and ( max-width: 767px ) {
    .form-section .panel-footer .footer-btns button:last-child { margin-top: 0px !important; }
}
@media screen and ( max-width: 549px ){
    .form-section .panel-footer .footer-btns .grey-btn { margin-right: 0px; }
}

@media ( max-width: 460px ) {
	.grey-btn { margin-right: 0; }
	.page-register-v3 .btn-primary { width: 100%; } 
}
@media screen and ( max-width: 420px ){
    .user-page .input-sm { width: 100px !important; }
}


