/******tables********/
.page-content-table { padding: 0px 30px; }
.page-content-table .panel-body {  padding: 30px 0 0; }
.tables .table-action { 
    padding: 0px 30px 30px; 
    position: absolute;
    top: 107px;
    left: 65px;
    width: 400px;
}
.tables .site-action.active .site-action-buttons { 
    display: inline-block; 
    width: auto;
    bottom: 0;
    position: inherit;
}
.tables .site-action-buttons .btn { 
    margin-right: 10px; 
    display: inline-block;
} 
.tables .page-title .btn.btn-primary { margin-top: -2px; }
.tables .search-actions { float: right; }
.tables .label-name { display: block; }
.label-info { background-color: #3e8acc; }
.tables th{ text-transform: uppercase !important; }
.tables .page-content-table .table.dataTables {  margin-top: 5px; }
.tables .dataTables_filter input {
    background: #eee none repeat scroll 0 0;
    box-shadow: none; 
    border-radius: 3px;
    color: #757575;
    display: block;
    font-size: 14px;
    height: 36px;
    width: 250px !important;
    line-height: 1.57143;
}
.tables .dataTables_length, .tables .dataTables_info { display: none; }
.tables .dataTables_wrapper .row:last-child .col-sm-5 { display: none; }
.tables div.dataTables_paginate  { 
	float: left; 
	padding: 30px;
}
.tables .dataTables_filter { 
	float: right; 
	padding-right: 35px;
}
.tables .filter-button { 
	position: absolute; 
	right: 30px;
	top: 30px;
}

.tables table > tbody > tr > th, .tables table > tbody > tr > td { white-space: unset; }
.tables table > tbody > tr > td.actions { white-space: nowrap !important; }

.tables td .icon { 
	font-size: 24px; 
	margin-right: 10px;
	top: 1px;
    vertical-align: sub;
}
.tables .actions .border-btn {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 0px 10px;
    box-shadow: none;
}
.tables .actions .border-btn:hover .icon{
    opacity: 0.8;
    transition: all 0.4s ease 0s;
}
.tables .actions .border-btn:hover{
    color: rgba(117,117,117,0.8);
    transition: all 0.4s ease 0s;
}

tr.selected { background-color: #eee; }

.label-default { 
    color: #fff; 
    background-color: #999;
}
.tables table.dataTable thead th:first-child:after,.tables table.dataTable thead .checkbox-th:after, .tables table.dataTable thead .sorting:last-child:after,.tables table.dataTable thead .sorting_disabled:after { content: ""; }
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after { top: 20px; }
.tables .table.dataTable tbody tr.active td, .tables .table.dataTable tbody tr.active th,.tables .table.dataTable tbody tr.active:hover td,.tables .table.dataTable tbody tr.active:hover th { 
	background-color: #eee !important; 
	color: #757575; 
}

.modal-lg { width: 1024px; }

.modal-body { padding: 20px 0 !important; }

.modal-footer {
    background-color: #f7f7f7;
    border-top: medium none;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.modal-footer button {  
    margin-top: 0 !important;
    width: 220px;
}

.modal-form { padding: 0px 20px; }

.modal-form .col-lg-4.form-group { position: relative; }

.modal-form .separator {
    position: absolute;
    top: 8px;
    right: -1px;
}


.modal-body .table.dataTable { 
    width: 100% !important; 
    margin-top: 30px;
}
.modal-body .filter-button { top: 20px; }
.modal-body table.dataTable thead .sorting:after,.modal-body table.dataTable thead .sorting_asc:after,.modal-body table.dataTable thead .sorting_desc:after { top: 20px; }


.tables .panel-body .share-button {
    position: absolute;
    right: 407px;
    top: 30px;
}
/*** sorting arrows settings ***/
table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after {
    position: relative !important;
    top: 0px !important;
    right: 0px !important;
    display: inline-block !important;
    left: 10px !important;
}


.table-no-hover { margin-bottom: 30px !important; }
.table-no-hover .indent {
	width: 40px;
	display: inline-block;
}
.no-hover td, .dataTables_empty {
	background-color: #fff !important;
	cursor: auto !important;
}
.bg-type {
	background-color: #0f3a7f !important;
	color: white;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 30px;
	padding: 20px;
}



@media screen and ( max-width: 1090px ) { 
    table.dataTable thead > tr > th,table.dataTable tbody > tr > td {
        padding-left: 20px;
        padding-right: 20px;
    }
    .tables .table {
        margin-top: 40px;
        display: block !important;
        overflow-y: auto;
    }

    .tables table.dataTable { margin-top: 50px; }
    .tables .dataTables_filter {
        float: none;
        padding: 0 20px;
        margin: 0 auto;
    }
    .tables .dataTables_filter label { width: 100%; }
    .tables .dataTables_filter input { 
        margin-left: 0; 
        width: 100% !important;
    }
    .modal-lg { width: 900px; }
}
@media screen and ( max-width: 960px ) {
    .modal-lg { width: 600px; }
} 
@media screen and ( max-width: 767px ) {
    .modal-lg { width: auto; }
} 
@media screen and ( max-width: 460px ) {
    .tables .filter-button { 
        top: 80px; 
        right: 15px;
    }
    .tables .table-action {  
        top: 205px;  
        width: 295px;
    }
    .tables .site-action-buttons .btn { padding: 4px; }
} 

