.tables .page-content-actions .btn-group {
  margin-left: -6px;
}
.tables .page-content-actions .btn-pure.btn-default {
  color: #9e9e9e;
}
.tables .page-content-actions .btn-pure.btn-default.active,
.tables .page-content-actions .btn-pure.btn-default:focus,
.tables .page-content-actions .btn-pure.btn-default:hover {
  color: #757575;
}
.tables table > thead > tr > th,
.tables table > tbody > tr > th,
.tables table > thead > tr > td,
.tables table > tbody > tr > td {
  white-space: nowrap;
  vertical-align: middle;
}
.tables table .avatar {
  margin-right: 10px;
  vertical-align: middle;
}
.tables .slidePanel-actions {
  position: absolute;
  top: 15px;
  right: 20px;
  float: none;
}
.tables .slidePanel-actions .btn-pure {
  color: #bdbdbd;
}
.tables .slidePanel-actions .btn-pure.active,
.tables .slidePanel-actions .btn-pure:focus,
.tables .slidePanel-actions .btn-pure:hover {
  color: #fff;
}
.tables .slidePanel-header {
  width: 100%;
  height: 350px;
  overflow: inherit;
  text-align: center;
}
.tables .slidePanel-header .avatar {
  width: 100px;
}
.tables .slidePanel-header .name {
  font-size: 20px;
}
.tables .slidePanel-header .edit {
  position: absolute;
  right: 20px;
  bottom: -26px;
}
.tables .slidePanel-header .edit .md-close {
  display: none;
}
.tables .slidePanel-header .edit.active .md-close {
  display: inline-block;
}
.tables .slidePanel-header .edit.active .md-edit {
  display: none;
}
.tables .slidePanel .user-info {
  margin: 30px 0;
}
.tables .slidePanel .user-info td {
  padding: 15px 0;
}
.tables .slidePanel .user-info .info-label {
  width: 120px;
}
.tables .slidePanel .user-info .form-group {
  display: none;
  margin: 0;
}
.tables .slidePanel .user-info.active span {
  display: none;
}
.tables .slidePanel .user-info.active .form-group {
  display: block;
}
@media (max-width: 767px) {
  .tables .responsive-hide .tablesaw-cell-label {
    display: none;
  }
  .tables table > thead > tr > th,
  .tables table > tbody > tr > th,
  .tables table > thead > tr > td,
  .tables table > tbody > tr > td {
    padding-right: 30px;
    padding-left: 30px;
    text-align: left;
  }
  .tables .page-content-actions .actions-right {
    display: block;
    float: none;
  }
  .tables .page-content-actions .actions-right .dropdown-toggle {
    border-color: #e0e0e0;
  }
}
@media (max-width: 480px) {
  .tables .page-header .page-header-actions {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 20px;
    -webkit-transform: none;
        -ms-transform: none;
         -o-transform: none;
            transform: none;
  }
}
