<div marginwidth="0" marginheight="0" class="email-background" style="min-height:100% !important;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100% !important;background-color:#f3f4f5;">
    <style>
        table {border-spacing: 0;}
        @media (max-width: 700px) {
            .table-max {
                width: 290px !important;
            }
            .column {
                width: 100% !important;
            }
        }
    </style>
    <center>
        <table class="email-background" cellspacing="0" cellpadding="0" border="0"  height="100%" width="100%" style="border-collapse:collapse!important;height:100%!important;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%!important;background-color:#f3f4f5">
            <tbody>
                <tr>
                    <td align="center" valign="top" style="height:100%!important;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;width:100%!important;padding-top:41px;padding-bottom:12px;">
                        <table class="table-max" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse!important;width:600px;">
                            <tbody>
                                <tr>
                                    <td align="left" valign="top">
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="background-color:#ffffff;border-left:1px solid #c0d3df; border-right:1px solid #c0d3df;border-top:1px solid #c0d3df; border-radius: 3px;min-width:100%;width:100%;">
                                            <tbody>
                                                <tr>
                                                    <td width="100%" valign="top" style="line-height:40px;color:#4e595d;font-family:'Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;font-size:14px;text-align:left;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0">
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="100%"  valign="top" style="width:100%;text-align:left;padding:0px 40px;"><img border="0" height="96" width="96" src="../images/logo-96.png" alt="logo" style="border-width:0;min-height:auto;line-height:100%;outline-style:none;text-decoration:none;display:block;width:96px;height:96px;max-width:96px;" /></td>
                                                </tr>
                                                 <tr>
                                                    <td width="100%" valign="top" style="line-height:40px;color:#4e595d;font-family:'Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;font-size:14px;text-align:left;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0">
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding:0 40px">
                                                        <hr width="100%" color="#c0d3df" height="1" style="color:#c0d3df;background-color:#c0d3df;min-height:1px;border-style:none;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top">
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-collapse:collapse!important;background-color:#ffffff;border-left:1px solid #c0d3df; border-right:1px solid #c0d3df;">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-collapse:collapse!important;">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="100%" valign="top" style="line-height:25px;color:#4e595d;font-family:'Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;font-size:14px;text-align:left;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0">
                                                                        &nbsp;
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="100%" valign="top" style="background-image:none;background-repeat:repeat;color:rgb(255,255,255);text-align:center;font-family:&quot;Helvetica Neue&quot;,Helvetica,Verdana,Arial,sans-serif;font-size:14px;line-height:150%;padding:0px 40px 0px">
                                                                        <h1 style="color:rgb(85,85,85);text-align:left;font-size:28px;display:block;font-family:&quot;Helvetica Neue&quot;,Helvetica,Verdana,Arial,sans-serif;font-style:normal;font-weight:700;line-height:32px;letter-spacing:normal;margin:0px;margin-bottom:5px;padding:0px;">Dear Jelena Popovic</h1>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="100%" valign="top" style="line-height:30px;color:#4e595d;font-family:'Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;font-size:14px;text-align:left;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0">
                                                                        &nbsp;
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding:0 40px;">
                                                        <hr color="#c0d3df" width="100%" style="color:#c0d3df;background-color:#c0d3df;min-height:1px;border-style:none;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0" height="1" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="top" width="100%" style="color:#4e595d;font-family:'Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;font-size:14px;line-height:150%;padding-top:0;padding-bottom:0;padding-right:0px;padding-left:0px; width:100%;">
                                                        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-collapse:collapse!important; width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="left" valign="top">
                                                                        <table class="column" cellspacing="0" cellpadding="0" border="0" width="100%" style="border-collapse: collapse!important;width: 100%;">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td width="100%" valign="top" style="line-height:38px;color:#4e595d;font-family:'Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;font-size:14px;text-align:left;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0">
                                                                                        &nbsp;
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td width="100%" valign="top" style="padding:0px 40px 0px;width:250px;text-align:left;color:#959b9e;font-family:'Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;font-size:14px;line-height:150%;width:100%;">
                                                                                    <p style="font-family:'Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;font-size:17px;color:#555555;line-height:20px;margin-top:0px;margin-bottom:20px">You have been granted access for IIP network. 
                                                                                    </p>
                                                                                    <p style="font-family:'Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;font-size:17px;color:#555555;line-height:20px;margin-top:4px;margin-bottom:20px">
                                                                                    Please <a style="color: #008ed6;text-decoration: none;font-weight: bold;">click on this link</a> in order to setup the password that you will be using for logging in.
                                                                                    </p>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td width="100%" valign="top" style="line-height:38px;color:#4e595d;font-family:'Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;font-size:14px;text-align:left;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0">
                                                                                        &nbsp;
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top">
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="background-color:#f7f7f8;border:1px solid #c0d3df;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;min-width:100%;width:100%;">
                                            <tbody>
                                                <tr>
                                                    <td width="100%" valign="top" style="color:#555555;font-family:'Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;font-size:15px;padding:25px 40px;text-align:left">Thank you, <a style="color: #008ed6;text-decoration: none;font-weight: bold;" href="http://google.com">IIP team </a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top">
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%" class="email-background" style="border-collapse:collapse!important;background-color:#f3f4f5;">
                                            <tbody>
                                                <tr>
                                                    <td width="100%" valign="top" style="color:#999999;font-family:'Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;font-size:13px;line-height:150%;padding:25px 40px 25px;text-align:left">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</div>